

<div id="cart" data-cart-icon="{{'cart.png' | asset_img_url: 'master'}}" data-turbolinks-permanent>
	{% comment %}<a href="/cart" class="nav__link">
		<img src="{{'cart.png' | asset_img_url: 'master'}}" alt="Cart" class="nav__cart">
	</a>{% endcomment %}
</div>
