@font-face {
	font-family: 'GT Sectra';
	src: url('GT-Sectra-Book.eot');
	src: url('GT-Sectra-Book.eot"?#iefix') format('embedded-opentype'),
		url('GT-Sectra-Book.woff') format('woff'),
		url('GT-Sectra-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GT Sectra';
	src: url('GT-Sectra-Bold.eot');
	src: url('GT-Sectra-Bold.eot"?#iefix') format('embedded-opentype'),
		url('GT-Sectra-Bold.woff') format('woff'),
		url('GT-Sectra-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HK Grotesk Pro';
	src: url('HKGroteskPro-Regular.eot');
	src: url('HKGroteskPro-Regular.eot"?#iefix') format('embedded-opentype'),
		url('HKGroteskPro-Regular.woff2') format('woff2'),
		url('HKGroteskPro-Regular.woff') format('woff'),
		url('HKGroteskPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HK Grotesk Pro';
	src: url('HKGroteskPro-Bold.eot');
	src: url('HKGroteskPro-Bold.eot"?#iefix') format('embedded-opentype'),
		url('HKGroteskPro-Bold.woff2') format('woff2'),
		url('HKGroteskPro-Bold.woff') format('woff'),
		url('HKGroteskPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
