

// #LOGIN

.newsletter {
	@extend .overlay;
	@extend .overlay--bottom_left;

	box-shadow: 0 2px 10px fade-out($black, 0.85);
}


	button.newsletter__close {
		@extend .overlay__close;
	}

	.newsletter__container {
		@extend .overlay__container;

		padding-top: $gutter*2;
		border: none;
		max-width: (666/$base) * 1rem;
	}

		button.newsletter__close {
			@extend .overlay__close;

			top: -$gutter/2;
			right: -$gutter*1.5;
		}